// bower:scss
// endbower
@import 'animations';
body  {
	background-color: #2F445A;
	color : #86C9D0;
}


::-webkit-scrollbar { 
    display: none; 
}

#appContainer{
	margin :15px auto;

	div.console{
		margin: 10px 0px;
	}

	#careerTree {
		height: 25em;
		overflow-y:scroll;
		animation : enterLeft 1s;

		ul{
			list-style:none;
			float:left;
		}
		.rankList{
			animation : appear 1.5s;
			animation-delay : 1s;
		}

		li.rank{
			width:5em;
			height:5em;
			text-align:center;
			margin:5px;
		}
		li.console:hover{
			box-shadow: 1px 1px 15px #86C9D0;
		}

	}
	#profile{
		animation: enterLeft 1s;
		min-height: 20em;
		span{
			animation: appear 1.5s;
			animation-delay:1s;
		}
		.picture{
			font-size: 150pt;
			text-align: center;
			margin: 20px 0;
		}
		.dev-class{
			font-weight: bold;
			font-size: 21pt;
			padding-left: 2%;
		}
		div.code-name{
			font-weight: bold;
			font-size: 16pt;
			padding-left: 2%;	
		}
	}
	#achievements{
		animation: enterLeft 1s;
		animation-delay : 0.5s;
		min-height: 15em;
		padding : 0.3em 1.5em;
		
		ul{
			animation : appear 1.5s;
			animation-delay : 1s;
		}

		li.achievement{
			font-size: 10pt;
		}
		span.badge{
			width: 1em;
			float: left;
			margin-top: 1px;
			margin-right: 5px;
			font-size: 14pt;
		}
	}
	#stats{
		min-height: 20em;
		animation : enterLeft 1s;
	}

	.console{
		border : 2px solid #86C9D0;
		border-radius:4px;
	}

	.unlocked{
		box-shadow: 1px 1px 15px #86C9D0;
	}
}