@-webkit-keyframes enterLeft {
  0% {
    width: 0%; }

  100% {
    width: 100%; } }

@keyframes enterLeft {
  0% {
    width: 0%; }

  100% {
    width: 100%; } }

@-webkit-keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes appear {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

body {
  background-color: #2F445A;
  color: #86C9D0; }

::-webkit-scrollbar {
  display: none; }

#appContainer {
  margin: 15px auto; }
  #appContainer div.console {
    margin: 10px 0px; }
  #appContainer #careerTree {
    height: 25em;
    overflow-y: scroll;
    -webkit-animation: enterLeft 1s;
    animation: enterLeft 1s; }
    #appContainer #careerTree ul {
      list-style: none;
      float: left; }
    #appContainer #careerTree .rankList {
      -webkit-animation: appear 1.5s;
      animation: appear 1.5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    #appContainer #careerTree li.rank {
      width: 5em;
      height: 5em;
      text-align: center;
      margin: 5px; }
    #appContainer #careerTree li.console:hover {
      box-shadow: 1px 1px 15px #86C9D0; }
  #appContainer #profile {
    -webkit-animation: enterLeft 1s;
    animation: enterLeft 1s;
    min-height: 20em; }
  #appContainer #achievements {
    -webkit-animation: enterLeft 1s;
    animation: enterLeft 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    min-height: 15em;
    padding: 0.3em 1.5em; }
    #appContainer #achievements ul {
      -webkit-animation: appear 1.5s;
      animation: appear 1.5s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
    #appContainer #achievements li.achievement {
      font-size: 10pt; }
    #appContainer #achievements span.badge {
      width: 1em;
      float: left;
      margin-top: 1px;
      margin-right: 5px;
      font-size: 14pt; }
  #appContainer #stats {
    min-height: 20em;
    -webkit-animation: enterLeft 1s;
    animation: enterLeft 1s; }
  #appContainer .console {
    border: 2px solid #86C9D0;
    border-radius: 4px; }
  #appContainer .unlocked {
    box-shadow: 1px 1px 15px #86C9D0; }
